*
{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}
.header
{
    height: 110px;
    width: 100%;
    border: 3px solid black;
    display: flex;
    padding: 2px;
    margin-top: 2px;
    justify-content: space-around;
}
.logo1
{
    background-image: url("asset/photo/national-emblem-of-india.png");  
    height: 110px;
    width: 84px;  
    background-size: contain;
    margin: 5px;
}
.logo2{
    background-image: url("asset/photo/b4.png");  
    height: 105px;
    width: 300px;  
    background-size: contain;
    margin: 5px;
}
.logo3
{
    background-image: url("asset/photo/maharashtra shasan English.png");  
    height: 110px;
    width: 95px;  
    background-size: cover;
    margin: 5px;
}
.text1 
{
    height: 35px;
    width: 100%;
    background-color: rgba(22, 86, 107, 0.94);
    margin-top: 5px;
    font-weight: bold;
    color: #F5C21B;
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;

}
.txet2
{
    height: 30px;
    width: 100%;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.08);
}
.txet2 #a1
{
    font-size: 17px;
    font-weight: bold;
    margin-left: 90%;
}
.main
{
    height: 980px;
    width: 1280px;
    box-shadow: 10px 10px 3px gray;
    margin-top: 5px;
    border: 2px solid black;
    margin-left: 110px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.left_main{
    width: 230px;
    height: 710px;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}
.right_main
{
    width: 890px;
    height: 710px;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}
.left_main  .contain
{
    height: 710px;
    width: 230px;
    padding-left: 2px;
    padding-right: 2px;
    
}
h5
{
    margin-top: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    font-size: 14px;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}